{% extends "zerver/portico.html" %}

{% block title %}
<title>{{ _("No organization found") }} | {{ product_name }}</title>
{% endblock %}

{% block portico_content %}

<div class="app find-account-page flex full-page account-creation">
    <div class="inline-block new-style">
        <div class="lead">
            <h1 class="get-started">{{ _('No organization found') }}</h1>
        </div>

        <div class="app-main find-account-page-container white-box">
            <p>
                {% trans %}There is no organization at <b>{{ current_url }}</b>.{% endtrans %}
            </p>
            <p>
                {% trans %}Please try a different URL or return to the login page.{% endtrans %}
            </p>
            {% if is_selfhosting_management_error_page %}
            <p>
                {% trans %}<a href="{{ current_url }}/serverlogin/">Click here</a> to access plan management for your server.{% endtrans %}
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
